<hr>
<footer class="footer mb-3">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>Oficina</h5>
                    <hr>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-map-marker"></i></div>
                        <div class="content">
                            <p>Av. asdasdasdasdsa  512</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-map-signs"></i></div>
                        <div class="content">
                            <p>Cerca a la comisaria</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Contacto</h5>
                    <hr>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-phone"></i></div>
                        <div class="content">
                            <p>94561231</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-mobile"></i></div>
                        <div class="content">
                            <p>957845625</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-mobile"></i></div>
                        <div class="content">
                            <p>98946560</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-envelope"></i></div>
                        <div class="content">
                            <p>joelvaldezangeles@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Horario de atención</h5>
                    <hr>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-clock-o"></i></div>
                        <div class="content">
                            <p>De Lunes a Viernes<br>
                                Mañanas: de 8:00am a 1:00pm<br>
                                Tardes: de 3:00pm a 6:00pm<br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon col-md-1"><i class="fa fa-clock-o"></i></div>
                        <div class="content">
                            <p> Sábados<br>
                                Mañanas de 8:00am a 1:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>