<div class="container-fluid m-3">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Filtros</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-select placeholder="Tipo de Maquinaria">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Marca">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Modelo">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Año">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <h6>Horometro</h6>
                        </div>
                        <mat-slider thumbLabel [displayWith]="formatLabel" min="1" max="100">
                        </mat-slider>
                        <div>
                            <h6>Capacidad</h6>
                        </div>
                        <mat-slider thumbLabel [displayWith]="formatLabel" min="1" max="100">
                        </mat-slider>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">ACTUALIZAR</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title class="text-right">Capacidad 35 TN</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image
                            src="https://www.arcus-global.com/wp/wp-content/uploads/2016/04/mquinaria-arcus-global_opt.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <h5>Año | Marca | Modelo</h5>
                            <h6>Ubicacion</h6>
                        </mat-card-content>
                        <mat-card-footer class="text-right">
                            <span>precio x Hora</span>
                            <h3>$50 USD</h3>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>